---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// general
$base-font-family: Consolas, monotype;
$base-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$padding:          5px;

// colors (wrapped around . . . here comes the marching band)
$text-color:                    #ccc;
$background-color:              #000;
$content-text-color:            #333;
$content-text-bold-color:       #000;
$content-background-color:      #fff;
$content-link-color:            #191970;
$content-visited-color:         #5A4266;
$menu-background-color:         #666;
$menu-text-color:               #fff;
$highlight-background-color:    #FAFAD2;
$inline-code-background-color:  #E6E6FA;

$gray-color:                    $text-color - #333;
$meta-background-color:         #D3D3D3;

// widths and breakpoints
$menu-width:                    150px;
$content-width:                 500px;
$standard-space:                100px;
$scrollbar:                     17px;

$breakpoint-middle:             $content-width + $padding + $scrollbar;
$breakpoint-full:               $menu-width + $standard-space + $content-width + $scrollbar;

$indentation: 21px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_reset",
        "_mixins",
        "_layout",
        "_base",
        "_post",
        "_syntax-highlighting"
;
